.btn {
    padding: 1rem 55px;
    border-radius: 50px;
}

.btn-green{
background: #04D9D9;
 box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.25);
font-family: 'CamptonLight';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FEFEFE;
margin-left: 30px;
&:hover{
    color: #FEFEFE;
    background: #04D9D9;
}
}

.btn-trans{
font-family: 'CamptonLight';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #F2B5A7;
border: 1px solid #F2B5A7;
&:hover{
color: #F2B5A7;
border: 1px solid #F2B5A7;
}
}