.navbar{
    font-family: CamptonLight;
    margin-top: 2.1rem;
    &-collapse{
            .navbar-nav{
                .nav-item{
                    font-family: 'CamptonLight';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
    }
}