.navbar{
    font-family: $font-family-poppins;
    margin-top: 2.1rem;
    &-collapse{
            .navbar-nav{
                .nav-item{
                    font-family: '$font-family-poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
    }
}